name: Build and Release
run-name: build-release-${{ inputs.tag_name }}

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6

      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install the project
        run: uv sync --locked

      - name: Build the project
        run: uv run nuitka --standalone --onefile --follow-imports --output-dir=dist --output-filename=ghauri build_runner.py

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/ghauri
